<div class="container">
    <div class="row">
        <h1>SELECT YOUR NAME</h1>
    </div>
    <div class="row">
        <label>
            <input (keyup)="setName($event)" type="text" name="username">
        </label>
    </div>
    <div class="row">
        <div *ngIf="(name === undefined || name.length < 2) && nextClicked === true" class="alert alert-danger"
             role="alert">
            <strong>Name should be at least 3 symbols length</strong>
        </div>
    </div>
    <div class="row">
        <button (click)="next()" type="button" class="btn btn-success">Continue ></button>
    </div>
</div>
